/**
 * @name Sam's Mods
 * @author Example.User#1111
 * @version 1.05
 * @Hodpodge of themes forced to cooperate against their will
 * @source https://github.com/example-git/betterdiscordedits
**/
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/SettingsModal/SettingsModal.css);
@import url('https://mr-miner1.github.io/Better-Badges/src/badges.css');
@import url("https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css");
@import url('https://adaelynxiv.github.io/RoundedDark/src/roundeddark.css');
@import url('https://adaelynxiv.github.io/RoundedDark/src/plugins/channeltabs.css');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700&display=swap');
@import url(https://maendisease.github.io/BetterDiscordStuff/css/bdAddonMini.css);
@import url("https://discordstyles.github.io/MinimalCord/dist/MinimalCord.css");
@import url('https://warrayquipsome.github.io/Chillax/chillax.css');
@import url('https://nyri4.github.io/Discolored/main.css');
@import url("https://warrayquipsome.github.io/Chillax/Addons/IconPackEdited.css");
@import url("https://warrayquipsome.github.io/Chillax/Addons/FolderRedesign.css");
@import url("https://stickfab.github.io/pc-fluenticons/FluentIcons.css");

:root.theme-dark {
  --window-margin: 20px; /*must be above 20px*/
  --window-colour: #0009;
  --window-blur: 5px;
  --window-border-radius: 10px;
  --sidebar-colour: rgb(36, 36, 36);
}

:root {
    --user-name: "Glowing.User";
    --font-name: Poppins;
    --font-size: 15px;
    

    /*glow radial status*/ /*must end in px*/
    --rs-small-spacing:0px;
    --rs-large-spacing:0px;
    --rs-medium-spacing:0px;
    --rs-small-width: 2.5px; 
    --rs-medium-width: 3.5px; 
    --rs-large-width: 4.5px; 
    --rs-avatar-shape:50%;
    --rs-online-color:#1df594;
    --rs-idle-color:#faa61a;
    --rs-dnd-color:#f04747;
    --rs-offline-color:#636b75;
    --rs-streaming-color:#643da7;
    --rs-invisible-color:#636b75;
    --rs-phone-visible:block;
    --rs-phone-color:var(--rs-online-color);
    /*chillax colours rgb*/ /* Google RGB Picker: https://g.co/kgs/NoY83h */
    --accentcolor:	  255, 0, 64;	
    /*chillax colours hex*/ /* Google RGB Picker: https://g.co/kgs/NoY83h */
    --accentcolorV2:     #fb5454;
    
    
    /*settings modal root*/
    --themelightsettingsmodalbackground: rgb(223, 223, 223);
    --themedarksettingsmodalbackground: rgba(51, 49, 53, 0);
    --themedarksettingsmodalwidth: 960px;
    --themedarksettingsmodalheight: 100vw;	
    
    /*background image*/ /*(replace the link to use)*/
    --background-image:var(--de-suggested-bg);
    /*bg dev suggestions*/
    --wq-suggested-bg: url('https://wallpaperaccess.com/full/2799204.jpg');
    --de-suggested-bg: url('https://i.imgur.com/BtNVFtq.jpg');
    /*modern background selection*/
    --modern-dark-bg: url('https://cdn.discordapp.com/attachments/879158025087234098/1015856640530071572/97EAEB95-54C2-4AF3-B70B-5E94A851409.jpeg?size=4096');
    --modern-light-bg: url('https://cdn.discordapp.com/attachments/879158025087234098/1015856640760754216/E98F8123-8B98-4961-90D7-DCC497A26E4.jpeg?size=4096');

    --custom-background: var(background-image);
    --background-radius: 0px;
    --blurple: #ff004060;
    --blurple3: #ff004052;
    --grey: #2e2c2c4f;
    --lightgrey: #000000;
    --darkgrey: #0a0a0a;
    --red: #fd1547;
    --blurple-gradient: linear-gradient(0deg, rgb(24, 24, 24) 0%, rgba(202, 15, 15, 0.671) 70%);
    --darkgrey-gradient: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(59, 59, 59) 100%);
    --scrollbar-thin-thumb: var(--blurple3);
    --scrollbar-auto-track: var(--darkgrey);
    --scrollbar-auto-thumb: var(--blurple3);
    --scrollbar-auto-scrollbar-color-thumb: var(--blurple3);
    --scrollbar-auto-scrollbar-color-track: var(--blurple3);
    --backgroundposition: center;
    --backgroundsize: cover;
    --backgroundblur: 0px;
    --font: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --default: transparent;
    --settingsicons: 1; 
    --radius: 8px;
    --spacing: 6px;
    --guildicon-size: 48;
    --enable-if-using-favorites-experiment: 0;
    --guildlist-collapse: 0;
    --slide-window-on-hover: 0;

    --sidebar-transition-duration: 0.4s;


    --float-members-width: 65px;
    --members-hover-width: 240px;
    --members-hover-delay: 1.5s;
    --members-transition-duration: 0.4s;
    --topic-opacity: 1;

    --textarea-buttons-gif: flex;
    --textarea-buttons-sticker: flex;
    --textarea-buttons-gift: none;
    --transparencycolor: 0, 0, 0;
    --transparencyalpha: 0.01;
    --messagetransparency: 0.5;
    --guildchanneltransparency: 0.15;
    --chatinputtransparency: 0.0;
    --textshadow: transparent;
    --popout: var(--backdrop);
    --popoutposition: var(--backgroundposition);
    --popoutsize: var(--backgroundsize);
    --popoutblur: var(--backgroundblur); 
    --backdrop: var(--background-image); 
    --backdropposition: left;
    --backdropsize: cover;
    --textbrightest: 255, 255, 255;
    --textbrighter: 222, 222, 222;
    --textbright: 200, 200, 200;
    --textdark: 160, 160, 160;
    --textdarker: 125, 125, 125;
    --textdarkest: 90, 90, 90;
    --float-guildlist-width-correction: 0px;
    --home-icon: url('https://i.imgur.com/w88O4bb.png');
    --favorites-icon: url('https://i.imgur.com/XyyvpsS.png');
    --button-positive-background-hover: rgba(69, 69, 69, 0.562);
    --button-positive-background-active: rgba(85, 78, 78, 0.623);
    --brand-experiment: hsl(359, calc(var(--saturation-factor, 1)*41%), 36%);
    --brand-experiment-100: hsl(359, calc(var(--saturation-factor, 1)*41%), 98%);
    --brand-experiment-130: hsl(359, calc(var(--saturation-factor, 1)*41%), 92.8%);
    --brand-experiment-160: hsl(359, calc(var(--saturation-factor, 1)*41%), 87.7%);
    --brand-experiment-200: hsl(359, calc(var(--saturation-factor, 1)*41%), 82.5%);
    --brand-experiment-230: hsl(359, calc(var(--saturation-factor, 1)*41%), 77.3%);
    --brand-experiment-260: hsl(359, calc(var(--saturation-factor, 1)*41%), 72.2%);
    --brand-experiment-300: hsl(359, calc(var(--saturation-factor, 1)*41%), 67%);
    --brand-experiment-330: hsl(359, calc(var(--saturation-factor, 1)*41%), 61.8%);
    --brand-experiment-360: hsl(359, calc(var(--saturation-factor, 1)*41%), 56.7%);
    --brand-experiment-400: hsl(359, calc(var(--saturation-factor, 1)*41%), 51.5%);
    --brand-experiment-430: hsl(359, calc(var(--saturation-factor, 1)*41%), 46.3%);
    --brand-experiment-460: hsl(359, calc(var(--saturation-factor, 1)*41%), 41.2%);
    --brand-experiment-500: hsl(359, calc(var(--saturation-factor, 1)*41%), 36%);
    --brand-experiment-530: hsl(359, calc(var(--saturation-factor, 1)*30.8%), 33.3%);
    --brand-experiment-560: hsl(359, calc(var(--saturation-factor, 1)*24.6%), 30.5%);
    --brand-experiment-600: hsl(359, calc(var(--saturation-factor, 1)*22.5%), 27.8%);
    --brand-experiment-630: hsl(359, calc(var(--saturation-factor, 1)*22.5%), 25%);
    --brand-experiment-660: hsl(359, calc(var(--saturation-factor, 1)*22.5%), 22.3%);
    --brand-experiment-700: hsl(359, calc(var(--saturation-factor, 1)*22.5%), 19.5%);
    --brand-experiment-730: hsl(359, calc(var(--saturation-factor, 1)*22.5%), 16.8%);
    --brand-experiment-760: hsl(359, calc(var(--saturation-factor, 1)*22.5%), 14%);
    --brand-experiment-800: hsl(359, calc(var(--saturation-factor, 1)*22.5%), 11.3%);
    --brand-experiment-830: hsl(359, calc(var(--saturation-factor, 1)*22.5%), 8.5%);
    --brand-experiment-860: hsl(359, calc(var(--saturation-factor, 1)*22.5%), 5.8%);
    --brand-experiment-900: hsl(359, calc(var(--saturation-factor, 1)*22.5%), 3%);
    --brand-experiment-05a: hsla(359, calc(var(--saturation-factor, 1)*41%), 36%, 0.05);
    --brand-experiment-10a: hsla(359, calc(var(--saturation-factor, 1)*41%), 36%, 0.1);
    --brand-experiment-15a: hsla(359, calc(var(--saturation-factor, 1)*41%), 36%, 0.15);
    --brand-experiment-20a: hsla(359, calc(var(--saturation-factor, 1)*41%), 36%, 0.2);
    --brand-experiment-25a: hsla(359, calc(var(--saturation-factor, 1)*41%), 36%, 0.25);
    --brand-experiment-30a: hsla(359, calc(var(--saturation-factor, 1)*41%), 36%, 0.3);
    --brand-experiment-35a: hsla(359, calc(var(--saturation-factor, 1)*41%), 36%, 0.35);
    --brand-experiment-40a: hsla(359, calc(var(--saturation-factor, 1)*41%), 36%, 0.4);
    --brand-experiment-45a: hsla(359, calc(var(--saturation-factor, 1)*41%), 36%, 0.45);
    --brand-experiment-50a: hsla(359, calc(var(--saturation-factor, 1)*41%), 36%, 0.5);
    --brand-experiment-55a: hsla(359, calc(var(--saturation-factor, 1)*41%), 36%, 0.55);
    --brand-experiment-60a: hsla(359, calc(var(--saturation-factor, 1)*41%), 36%, 0.6);
    --brand-experiment-65a: hsla(359, calc(var(--saturation-factor, 1)*41%), 36%, 0.65);
    --brand-experiment-70a: hsla(359, calc(var(--saturation-factor, 1)*41%), 36%, 0.7);
    --brand-experiment-75a: hsla(359, calc(var(--saturation-factor, 1)*41%), 36%, 0.75);
    --brand-experiment-80a: hsla(359, calc(var(--saturation-factor, 1)*41%), 36%, 0.8);
    --brand-experiment-85a: hsla(359, calc(var(--saturation-factor, 1)*41%), 36%, 0.85);
    --brand-experiment-90a: hsla(359, calc(var(--saturation-factor, 1)*41%), 36%, 0.9);
    --brand-experiment-95a: hsla(359, calc(var(--saturation-factor, 1)*41%), 36%, 0.95);
    /* Visibility of the phone icon next to a users avatar. | block = visible | none = hidden */
    --badge-size: 15px;
    --badge-margin: 1px;
    --badges-everywhere-size: 15px;
    --accent: 50, 131, 207;
    --message-padding: 10px;
    --message-spacing: 10px;
}

/*friends grid banner colour*/
.theme-dark{
--FG-cards-banner-background: transparent!important;
}
.theme-light{
--FG-cards-banner-background: transparent!important;
} 

/*discord transparency*//*roots*/ /*theme dark*/
  .theme-dark {
  --background-message-hover: rgba(255, 255, 255, 0.055);
  --header-primary: #fff;
  --header-secondary: #b9bbbe;
  --text-normal: #dcddde;
  --text-muted: #9d9d9d;
  --channels-default: #8e9297;
  --interactive-normal: #b9bbbe;
  --interactive-hover: #dcddde;
  --interactive-active: #fff;
  --interactive-muted: #4f545c;
  --background-primary: transparent;
  --background-secondary: transparent;
  --background-tertiary: transparent;
  --background-accent: rgba(36, 36, 36, 0);
  --activity-card-background: transparent;
  --deprecated-panel-background: transparent;
}
/*discord transparency*//*roots*/ /*theme light*/
  .theme-light {
  --background-message-hover: rgba(255, 255, 255, 0.055);
  --header-primary: rgb(0, 0, 0);
  --header-secondary: #3f3f3f;
  --text-normal: #303030;
  --text-muted: #333333;
  --channels-default: #585b5e;
  --interactive-normal: #3a3a3a;
  --interactive-hover: #333333;
  --interactive-active: rgb(0, 0, 0);
  --interactive-muted: #4f545c;
  --background-primary: transparent;
  --background-secondary: transparent;
  --background-tertiary: transparent;
  --background-accent: rgb(27, 27, 27);
  --activity-card-background: transparent;
  --deprecated-panel-background: transparent;
}

/*friends grid banner colour*/
.theme-dark{
--FG-cards-banner-background: transparent!important;
}
.theme-light{
--FG-cards-banner-background: transparent!important;
} 

.accountList-305sx3 {
  background: var(--background-alt);
}
.children-1xdcWE > .flex-1xMQg5.flex-3BkGQD {
  background: var(--background-alt);
  border-radius: var(--border-radius);
  padding: 16px;
}
.micTest-bjZA-b {
  background: var(--background-alt);
  border-radius: var(--border-radius);
  padding: 16px;
  margin-top: 20px;
}
.micTest-bjZA-b .marginTop8-24uXGp {
  margin-top: 0;
}
.container-3NTP7o {
  width: 530px !important;
}
notches-2w7UZJ {
  background: none;
}

.paymentPane-ut5qKZ {
  background: var(--background-alt);
}
.paginator-1eqD2g {
  background: transparent;
}
.bottomDivider-ZmTm-j {
  border: none;
}
.bottomDivider-ZmTm-j::-webkit-scrollbar {
  display: none;
}
.payment-2bOh4k {
  background: transparent;
}
.payment-2bOh4k:hover {
  background: var(--background-light-alt);
}
.payment-2bOh4k:not(.hoverablePayment-lE1s4t) {
  background: var(--background-light);
  padding-bottom: 20px;
}
.expandedInfo-1W31i3 {
  background: var(--background-light-alt);
  margin: 0 20px;
}
/* Channel Tabs */
/*#channelTabs-container {
    --tabcontainer: radial-gradient(circle, rgba(34, 31, 29, 0.979) 30%, rgb(0, 0, 0) 70%);
    background: var(--tabcontainer) !important;
    border-color:rgba(0, 0, 0, 0.616);
    /* border-width: 3px !important; */
    /* padding: 0% !important;  
    border: 3px solid rgba(0, 0, 0, 0.795) !important;
    box-shadow: 0 0 2px 0 rgba(255, 255, 255, 0.829) !important;
}
.channelTabs-tab.channelTabs-selected {
    background: var(--blurple) !important;
    color: rgba(0, 0, 0, 0.562) !important;
}
.channelTabs-tab {
    border-radius: 20px !important;
}

.channelTabs-newTab:hover,
.channelTabs-tabNavLeft:hover,
.channelTabs-tabNavRight:hover {
    border-radius: 20px !important;
    color: #faa61a !important;
    border: 2px #faa61a !important;
}
.channelTabs-newTab:hover,
.channelTabs-tabNavLeft,
.channelTabs-tabNavRight {
    border-radius: 32px !important;
    color: #faa61a !important;
    border: 2px #faa61a !important; 
}
.channelTabs-tabName {
    font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 500;
}

.channelTabs-closeTab,
.channelTabs-tabNavClose,
#channelTabs-settingsMenu:hover {
    border-radius: 32px;
    background: transparent !important;
    color: #faa61a !important;
    border: 2px #faa61a !important;
}

.channelTabs-closeTab:hover {
    border-radius: 32px; 
    background: transparent !important;
    border: 2px solid #faa61a !important;
    color: transparent !important;
}

#channelTabs-settingsMenu {
    margin-right: 10px;
    margin-top: 2px;
    display: inside;
    align-items: center;
}

.channelTabs-settingsIcon {
    --interactive-normal: #faa61a !important;
    width: 20px;
} */
/* Coloured Folder Icons by CapnKitten (Gibbu#1211 edit)*/
/* If you wish to remove the Folder Icons; or if it breaks one of your plug-ins, remove everything under here: */
.closedFolderIconWrapper-3tRb2d {
    display: none !important;
}
.folderIconWrapper-1oRIZr:not([style=""])::before {
    position: fixed;
    content: "";
    width: 18px;
    height: 18px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: inherit;
    -webkit-mask: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/solid/folder.svg) no-repeat;
    mask: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/solid/folder.svg) no-repeat;
    transform: scale(1.6);
    filter: brightness(300) saturate(5);
}
/* The variables are used when the window is at the set sizes, each media query can be edited/deleted */
@media (max-width:700px) {
    :root {
        --topic-opacity: 0;
        --toolbar-visibility: none;
        --textarea-buttons-gif: none;
        --textarea-buttons-sticker: none;
    }
}

.contentWrapper-3vHNP2 {
    background-color: rgba(255, 255, 255, 0.808) !important;
    backdrop-filter: blur(10px) !important;
    border-radius: 16px !important;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5) !important;
}

@media (max-width:500px) {
    :root {
        --guildicon-size: 40;
        --float-members-width: 0;
    }
}


@media (max-width:300px) {
    :root {
        --guildlist-collapse: 1;
    }
}

.sidebarRegionScroller-FXiQOh {
    background-color: rgba(54, 54, 54, 0.534) !important;
    backdrop-filter: blur(10px) !important;
    border-radius: 2%, 2% !important;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5) !important;
}

.scroller-2MALzE {
    background-color: rgba(54, 54, 54, 0.534) !important;
    backdrop-filter: blur(10px) !important;
}

.scroller-18M1mG {
    background-color: rgba(54, 54, 54, 0.534) !important;
    backdrop-filter: blur(10px) !important;
}

.sidebarScrollable-2mW9Ls .scroller-3_YDR2 {
    border-radius: var(--radius);
    background: var(--blurple);
    padding-left: 2px;
}

.homeIcon-r0w4ny {
    background-position-x: center !important;
    background-position-y: center !important;
    background-size: 120% !important;
    background-image: var(--home-icon) !important;
    width: 100px !important;
    height: 100px !important;
    color: rgba(7, 0, 0, 0);
    background-color: var(--blurple);
    box-sizing: border-box !important;
}

.favoriteIcon-2kWmTP {
    background-position-x: center !important;
    background-position-y: center !important;
    background-size: 100% !important;
    background-image: var(--favorites-icon) !important;
    width: 100px !important;
    height: 100px !important;
    color: rgba(7, 0, 0, 0);
    background-color: var(--blurple) !important;
    box-sizing: border-box !important;
}

.childWrapper-1j_1ub {
    -webkit-transition: background-color .15s ease-out, color .15s ease-out;
    transition: background-color .15s ease-out, color .15s ease-out;
    background-color: rgba(0, 0, 0, 0) !important;
    color: rgb(255, 255, 255) !important;
    box-sizing: border-box 100px !important;
}

.svg-2zuE5p {
    box-sizing: content-box;
    position: sticky !important;
    top: 10;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    color: rgba(252, 252, 252, 0.425);
}

.messagesPopout-eVzQcI,
.messageGroupWrapper-1jf_7C {
    backdrop-filter: blur(50%) !important;
    background-image: url(https://i.imgur.com/o9Fs83z.jpg) !important;
    background-size: 400% !important;
    background-repeat: no-repeat !important;
}

.scroller-145h9c {
    backdrop-filter: blur(50%) !important;
    background-image: url(https://i.imgur.com/o9Fs83z.jpg) !important;
    background-size: 400% !important;
    background-repeat: no-repeat !important;
}
.platform-win .winButton-3UMjdg {
    border-radius: var(--radius);
    height: 32px !important;
}
.channelTabs-settingsIcon {
    max-width: 32px;
    position: absolute;
    top: 25%;
    left: 25%;
    max-height: 32px;
    color: #faa61a !important;
    background: transparent !important;
}


.full-motion .animatorTop-3ltI52.didRender-2SiRlm {
    -webkit-transform: unset !important;
    transform: unset !important;
    -webkit-transition: opacity 0.15s linear 0s;
    transition: opacity 0.15s linear 0s;
}
.modeSelected-3DmyhH .content-1gYQeQ,
.modeSelected-3DmyhH:hover .content-1gYQeQ {
    background-color: var(--blurple);
}
:root .panels-3wFtMD,
.container-YkUktl,
.flex-2S1XBF {
    -webkit-box-orient: horizontal !important;;
    -webkit-box-direction: normal;
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(15%, var(--background-tertiary)));
    background: linear-gradient(transparent, var(--background-tertiary) 15%);
}
.popout-1KHNAq {
    -webkit-text-stroke-color: var(--blurple);
    -webkit-text-fill-color: aliceblue;
    -webkit-box-sizing: border-box;
    box-sizing: content-box;
    background-color: rgba(54, 54, 54, 0.616) !important;
    backdrop-filter: blur(5px) !important;
    box-shadow: 0 0 3px 0 rgba(245, 245, 245, 0.5) !important;
    border-radius: 0 0 4px 4px;
}
:root .panels-3wFtMD,
.container-YkUktl,
.flex-2S1XBF {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal;
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(15%, var(--background-tertiary)));
    background: transparent;
}

.wrapper-NhbLHG {
  height: auto;
  margin-bottom: 2px;
}
.wrapper-NhbLHG.modeMuted-2T4MDZ .name-28HaxV {
  color: var(--text-muted);
}
.wrapper-NhbLHG.modeUnread-3Cxepe .icon-2W8DHg {
  color: var(--text-focus);
}
.wrapper-NhbLHG.modeSelected-3DmyhH .icon-2W8DHg {
  color: var(--text-focus);
}
.wrapper-NhbLHG.modeSelected-3DmyhH:before {
  content: "";
  position: absolute;
  top: 1px;
  height: calc(100% - 2px);
  width: 4px;
  background: rgb(var(--accent), 1);
  z-index: 1;
}
.wrapper-NhbLHG.typeThread-2Aqh6X .content-1gYQeQ {
  padding-left: 42px;
}


/*#channelTabs-container{padding:3px;border-color:#000000;border-width: 3px;}
.chat-2ZfjoI, .sidebar-1tnWFu{margin-top:var(--spacing);border-color: #000000;border-width: 3px;}
.wrapper-1_HaEi{margin-top:var(--spacing);border-color: #000000; border-width: 3px;}
.app-2CXKsg{background:var(--blurple);border-color: #000000; border-width: 3px;}
#channelTabs-container{
    border-radius:20px !important;
    border-color:rgb(0, 0, 0);
    margin-bottom:calc(var(--spacing) 3px);
    padding:0px!important;
}*/
