
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@100;300;400;500;700&display=swap');
@import url('https://maendisease.github.io/BetterDiscordStuff/Themes/Solana/Solana.css');
/*@import url('https://maendisease.github.io/BetterDiscordStuff/css/ChannelDms.css');*/
.navButton-1XuvI- {
  border-radius: 50px;
  font-weight: 500;
  border: 30px solid blur;
}
.guilds-2JjMmN {
  margin-top: 65px;
  margin-bottom: 65px;
  margin-right: 4px;
  margin-left: 4px;
}
.listItem-3SmSlK > *,
.toolbar-3_r2xA > *,
.platform-win .topicClickTarget-2GMi99,
.cursorPointer-3JF56F.title-17SveM,
.sidebarRegion-1VBisG,
.closeButton-PCZcma,
[class*=menu-][role=menu] {
  -webkit-app-region: no-drag;
}
.listItem-3SmSlK {
  width: 100%;
  height: 100
}
expandedFolderBackground-1kSAf6 {
  left: 85px;
  right: 85px;
}
.theme-light .expandedFolderBackground-1kSAf6:not(.collapsed-uGXEbi) {
  background-color: var(--background-floating-40a);
}

.sidebar-1tnWFu {
  width: var(--sidebar-width);
  --channel-icon: var(--brand-experiment);
  --elevation-low: 0px 1px 0px 0px hsl(var(--background-accent-hue), 6%, 0%, 0.8), 0 2px 0 hsl(var(--accent-hue), 6%, 0%, 0.1);
}
.sidebar-1tnWFu .channel-1Shao0 {
  max-width: 125px;
}
theme-dark,
theme-light {
  --float-guildlist-width-correction: 0;
}

.rolesTable-11lOYY {
    background-color: var(--background-secondary);
    border-top: var(--background-secondary-border);
    border-left: var(--background-secondary-border);
    border-right: var(--background-secondary-border);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.tableHeader-6gvH38 {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: -8px;
    padding: 1px;
}

.roleRow-230vCm:nth-child(even) {
    background: var(--background-secondary);
}

.roleRow-230vCm:nth-child(odd) {
    background: var(--background-primary);
}
#app-mount .roleRow-230vCm:hover {
  background: var(--brand-experiment);
}

.roleRow-230vCm:hover .text-md-normal-2rFCH3 {
  color: #fff !important;
}

.roleRow-230vCm:hover .memberCountContainer-2sIXRp {
  color: #fff;
}

#app-mount .memberSpacing-1e6OH3 {
    flex-grow: 50 50 50;
}

.roleNameSpacing-ss4Ir8 {
    -webkit-box-flex: 100;
    -flex: 0 10 ;
    flex-grow: 10vw 10vw 10vw;
}

.roleRow-230vCm:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom: var(--background-secondary-border);
}

.emptyRoles-2rJGCl,
.roleRow-230vCm {
    padding-top: 1px;
    height: 42px;
    margin-left: 0;
    margin-right: 0;
    padding-right: 8px;
}

.roleRow-230vCm {
    position: 0;
    border-radius: 2;
    border-left: var(--background-secondary-border);
    border-right: var(--background-secondary-border);
}

.roleRow-230vCm:before,
.roleRow-230vCm:last-child:after {
    display: display-box;
}

:root {
  --accent-hue: 359;
  --accent-saturation: 41%;
  --accent-brightness: 36%;
  --background-accent-hue: 1;
  --background-accent-saturation: 19%;
  --background-accent-brightness: 30%;
  --background-image: url('https://i.imgur.com/pzBgGAa.jpeg');
  /* url(https://site.com/foobar.png) | URL MUST BE A DIRECT LINK (ending in .jpg, .jpeg, .png, .gif) */
  --background-image-position: center;
  --background-image-size: cover;
  --background-image-blur: 6px;
  --background-overlay-opacity: 44%;
  --background-overlay-color-lightness: .4;
  --background-hue-shift-strength: 64%;
  --window-background-image: url('https://i.imgur.com/SGDErkT.jpg');
  --window-background-image-position: bottom right;
  --window-background-image-size: 200%;
  --window-background-image-attachment: local;
  --window-opacity: 30%;
  --window-blur: 46;
  --window-friends-blur: 50;
  --window-margin: 30;
  --window-margin-left: 6;
  --window-border-radius: 26px;
  --window-background-lightness: -0.53;
  --window-accent-tint-strength: 27%;
  --chat-bubble: 2;
  --text-link-hue: 359;
  --chat-text-brightness: 0.82;
  --home-icon: url('https://i.imgur.com/w88O4bb.png');
  --favorites-icon: url('https://i.imgur.com/XyyvpsS.png');
  --dock-blur: 50;
  /* Blur intensity of the dock. */
  --dock-border-radius: 100;
  --dock-padding: 25px;
  --sidebar-width: 250px;
  --sidebar-left-padding: 5px;
  --sidebar-right-padding: 5px;
  --members-width: 250px;
  --sidebar-text-brightness: 0.76;
  --background-floating-blur: 40px;
  --floating-background-lightness: -1;
  --background-floating-opacity: 0.54;
  --enable-floating-transparency: 0;
  --custom-font-display: Righteous;
  --custom-font-regular: Allerta;
  --custom-font-primary: Assistant;
  --custom-font-code: Ubuntu Mono;
  --enable-blur: 1;
  --button-positive-background-hover: hsl(0, 0%, 27%);
  --button-positive-background-active: hsla(150, 1%, 37%, 0.623);
  --favorites-name: 'favorites';
  --favorites-banner: url('https://i.imgur.com/viBB62e.png');
  --brand-experiment: hsl(359, calc(var(--saturation-factor, 1)*41%), 36%);
  --brand-experiment-100: hsl(359, calc(var(--saturation-factor, 1)*41%), 98%);
  --brand-experiment-130: hsl(359, calc(var(--saturation-factor, 1)*41%), 92.8%);
  --brand-experiment-160: hsl(359, calc(var(--saturation-factor, 1)*41%), 87.7%);
  --brand-experiment-200: hsl(359, calc(var(--saturation-factor, 1)*41%), 82.5%);
  --brand-experiment-230: hsl(359, calc(var(--saturation-factor, 1)*41%), 77.3%);
  --brand-experiment-260: hsl(359, calc(var(--saturation-factor, 1)*41%), 72.2%);
  --brand-experiment-300: hsl(359, calc(var(--saturation-factor, 1)*41%), 67%);
  --brand-experiment-330: hsl(359, calc(var(--saturation-factor, 1)*41%), 61.8%);
  --brand-experiment-360: hsl(359, calc(var(--saturation-factor, 1)*41%), 56.7%);
  --brand-experiment-400: hsl(359, calc(var(--saturation-factor, 1)*41%), 51.5%);
  --brand-experiment-430: hsl(359, calc(var(--saturation-factor, 1)*41%), 46.3%);
  --brand-experiment-460: hsl(359, calc(var(--saturation-factor, 1)*41%), 41.2%);
  --brand-experiment-500: hsl(359, calc(var(--saturation-factor, 1)*41%), 36%);
  --brand-experiment-530: hsl(359, calc(var(--saturation-factor, 1)*30.8%), 33.3%);
  --brand-experiment-560: hsl(359, calc(var(--saturation-factor, 1)*24.6%), 30.5%);
  --brand-experiment-600: hsl(359, calc(var(--saturation-factor, 1)*22.5%), 27.8%);
  --brand-experiment-630: hsl(359, calc(var(--saturation-factor, 1)*22.5%), 25%);
  --brand-experiment-660: hsl(359, calc(var(--saturation-factor, 1)*22.5%), 22.3%);
  --brand-experiment-700: hsl(359, calc(var(--saturation-factor, 1)*22.5%), 19.5%);
  --brand-experiment-730: hsl(359, calc(var(--saturation-factor, 1)*22.5%), 16.8%);
  --brand-experiment-760: hsl(359, calc(var(--saturation-factor, 1)*22.5%), 14%);
  --brand-experiment-800: hsl(359, calc(var(--saturation-factor, 1)*22.5%), 11.3%);
  --brand-experiment-830: hsl(359, calc(var(--saturation-factor, 1)*22.5%), 8.5%);
  --brand-experiment-860: hsl(359, calc(var(--saturation-factor, 1)*22.5%), 5.8%);
  --brand-experiment-900: hsl(359, calc(var(--saturation-factor, 1)*22.5%), 3%);
  --brand-experiment-05a: hsla(359, calc(var(--saturation-factor, 1)*41%), 36%, 0.05);
  --brand-experiment-10a: hsla(359, calc(var(--saturation-factor, 1)*41%), 36%, 0.1);
  --brand-experiment-15a: hsla(359, calc(var(--saturation-factor, 1)*41%), 36%, 0.15);
  --brand-experiment-20a: hsla(359, calc(var(--saturation-factor, 1)*41%), 36%, 0.2);
  --brand-experiment-25a: hsla(359, calc(var(--saturation-factor, 1)*41%), 36%, 0.25);
  --brand-experiment-30a: hsla(359, calc(var(--saturation-factor, 1)*41%), 36%, 0.3);
  --brand-experiment-35a: hsla(359, calc(var(--saturation-factor, 1)*41%), 36%, 0.35);
  --brand-experiment-40a: hsla(359, calc(var(--saturation-factor, 1)*41%), 36%, 0.4);
  --brand-experiment-45a: hsla(359, calc(var(--saturation-factor, 1)*41%), 36%, 0.45);
  --brand-experiment-50a: hsla(359, calc(var(--saturation-factor, 1)*41%), 36%, 0.5);
  --brand-experiment-55a: hsla(359, calc(var(--saturation-factor, 1)*41%), 36%, 0.55);
  --brand-experiment-60a: hsla(359, calc(var(--saturation-factor, 1)*41%), 36%, 0.6);
  --brand-experiment-65a: hsla(359, calc(var(--saturation-factor, 1)*41%), 36%, 0.65);
  --brand-experiment-70a: hsla(359, calc(var(--saturation-factor, 1)*41%), 36%, 0.7);
  --brand-experiment-75a: hsla(359, calc(var(--saturation-factor, 1)*41%), 36%, 0.75);
  --brand-experiment-80a: hsla(359, calc(var(--saturation-factor, 1)*41%), 36%, 0.8);
  --brand-experiment-85a: hsla(359, calc(var(--saturation-factor, 1)*41%), 36%, 0.85);
  --brand-experiment-90a: hsla(359, calc(var(--saturation-factor, 1)*41%), 36%, 0.9);
  --brand-experiment-95a: hsla(359, calc(var(--saturation-factor, 1)*41%), 36%, 0.95);
}
