/**
 * @name Sam's Mods
 * @author Example.User#1111
 * @version 1.05
 * @Hodpodge of themes forced to cooperate against their will
 * @source https://github.com/example-git/betterdiscordedits
**/
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/SettingsModal/SettingsModal.css);
@import url('https://mr-miner1.github.io/Better-Badges/src/badges.css');
@import url("https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css");
/*@import url('https://adaelynxiv.github.io/RoundedDark/src/roundeddark.css');*/
@import url("https://stickfab.github.io/pc-fluenticons/FluentIcons.css");
/**@import url('https://adaelynxiv.github.io/RoundedDark/src/plugins/channeltabs.css');*/
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700&display=swap');
/*@import url(https://maendisease.github.io/BetterDiscordStuff/css/bdAddonMini.css);*/
@import url(https://maendisease.github.io/BetterDiscordStuff/Themes/Float/addon/RemoveMinimumSize.css) (width: 940px);
/*@import url(https://maendisease.github.io/BetterDiscordStuff/Themes/Float/Float.css) (max-width: 940px);*/
@import url(https://maendisease.github.io/BetterDiscordStuff/Themes/Float/addon/SettingsIcons.css) (max-width: 940px);
/*@import url("https://discordstyles.github.io/MinimalCord/dist/MinimalCord.css");*/
@import url(https://minidiscordthemes.github.io/Snippets/EfficientSettings/EfficientSettings.css); 
/*@import url(https://minidiscordthemes.github.io/Snippets/SettingsAsOverlay/SettingsAsOverlay.css);*/
@import url(https://raw.githubusercontent.com/llsc12/discord-acrylic/main/Acrylic.theme.css);
@import url("https://snare-hawk.github.io/snare-CSS/profile-panel-thingy.css");
@import url(https://minidiscordthemes.github.io/Snippets/SplitMessageBars/SplitMessageBars.css);

.appDevToolsWrapper-1QxdQf {
    margin: 20px;
    border-radius: 20px;
    background: rgb(0, 0, 0); 
    border-color: #f04747;
}
/* Desaturate member list pfps when offline - Snippet by DeadVoxels#3520 */
.wrapper-3Un6-K[aria-label*="Offline"] > .svg-1G_H_8 {
    filter: grayscale(70%);
}
.svg-1G_H_8 {
    transition: filter 250ms;
}
:root {
    --custom-background: rgba(0, 0, 0, 0);
    --background-radius: 32px;
    --backdrop: rgba(0, 0, 0, 0.178);
    --blurple: #ff004060;
    --blurple3: #ff004052;
    --grey: #2e2c2c4f;
    --lightgrey: #000000;
    --darkgrey: #0a0a0a;
    --red: #fd1547;
    --blurple-gradient: linear-gradient(0deg, rgb(24, 24, 24) 0%, rgba(202, 15, 15, 0.671) 70%);
    --darkgrey-gradient: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(59, 59, 59) 100%);
    /*--settingsmodalbackground: rgba(0, 0, 0, 0.144);*/
    --transparencycolor: 0, 0, 0;
    --scrollbar-thin-thumb: var(--blurple3);
    --scrollbar-auto-track: var(--darkgrey);
    --scrollbar-auto-thumb: var(--blurple3);
    --scrollbar-auto-scrollbar-color-thumb: var(--blurple3);
    --scrollbar-auto-scrollbar-color-track: var(--blurple3);
    /*--transparencyalpha: 100%;
    --messagetransparency: 1;
    --guildchanneltransparency: 0.5px;
    --chatinputtransparency: 0;
    --memberlisttransparency: 0;
    --accentcolor: 255, 0, 64;*/
    --backgroundposition: left;
    --backgroundsize: cover;
    --backgroundblur: 0px;
    --font: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --default: transparent;
    --settingsicons: 1; 
    --radius: 8px;
    --spacing: 6px;
    --guildicon-size: 48;
    --enable-if-using-favorites-experiment: 1;
    --guildlist-collapse: 1;
    --slide-window-on-hover: 0;
    --float-sidebar-width: 48;
    /*--sidebar-hover-width: 240px;
    --sidebar-hover-delay: 0.2s;
    --sidebar-transition-duration: 0.4s;
    --sidebar-window-gap: 16px;
    --sidebar-border-radius: 16px;
    --sidebar-usersettings-width: 30vw;*/
    --float-members-width: 65px;
    --members-hover-width: 240px;
    --members-hover-delay: 1.5s;
    --members-transition-duration: 0.4s;
    --topic-opacity: 1;
    --toolbar-visibility: flex;
    --textarea-buttons-gif: flex;
    --textarea-buttons-sticker: flex;
    --textarea-buttons-gift: none;
    --transparencyalpha: 0.01;
    --messagetransparency: 0.5;
    --guildchanneltransparency: 0.15;
    --chatinputtransparency: 0.0;
    --memberlisttransparency: 0.0;
    --accentcolor: 255, 0, 64, 0.261;
    --textshadow: transparent;
    --popout: var(--backdrop);
    /* --popoutposition: var(--backgroundposition);
    --popoutsize: var(--backgroundsize);
    --popoutblur: var(--backgroundblur); */
    --backdrop: rgba(0, 0, 0, 0.0); 
    --backdropposition: center;
    --backdropsize: cover;
    --textbrightest: 255, 255, 255;
    --textbrighter: 222, 222, 222;
    --textbright: 200, 200, 200;
    --textdark: 160, 160, 160;
    --textdarker: 125, 125, 125;
    --textdarkest: 90, 90, 90;
    --float-guildlist-width-correction: 0px;
    --home-icon: url('https://i.imgur.com/w88O4bb.png');
    --favorites-icon: url('https://i.imgur.com/XyyvpsS.png');
    --button-positive-background-hover: rgba(69, 69, 69, 0.562);
    --button-positive-background-active: rgba(85, 78, 78, 0.623);
    --brand-experiment: hsl(359, calc(var(--saturation-factor, 1)*41%), 36%);
    --brand-experiment-100: hsl(359, calc(var(--saturation-factor, 1)*41%), 98%);
    --brand-experiment-130: hsl(359, calc(var(--saturation-factor, 1)*41%), 92.8%);
    --brand-experiment-160: hsl(359, calc(var(--saturation-factor, 1)*41%), 87.7%);
    --brand-experiment-200: hsl(359, calc(var(--saturation-factor, 1)*41%), 82.5%);
    --brand-experiment-230: hsl(359, calc(var(--saturation-factor, 1)*41%), 77.3%);
    --brand-experiment-260: hsl(359, calc(var(--saturation-factor, 1)*41%), 72.2%);
    --brand-experiment-300: hsl(359, calc(var(--saturation-factor, 1)*41%), 67%);
    --brand-experiment-330: hsl(359, calc(var(--saturation-factor, 1)*41%), 61.8%);
    --brand-experiment-360: hsl(359, calc(var(--saturation-factor, 1)*41%), 56.7%);
    --brand-experiment-400: hsl(359, calc(var(--saturation-factor, 1)*41%), 51.5%);
    --brand-experiment-430: hsl(359, calc(var(--saturation-factor, 1)*41%), 46.3%);
    --brand-experiment-460: hsl(359, calc(var(--saturation-factor, 1)*41%), 41.2%);
    --brand-experiment-500: hsl(359, calc(var(--saturation-factor, 1)*41%), 36%);
    --brand-experiment-530: hsl(359, calc(var(--saturation-factor, 1)*30.8%), 33.3%);
    --brand-experiment-560: hsl(359, calc(var(--saturation-factor, 1)*24.6%), 30.5%);
    --brand-experiment-600: hsl(359, calc(var(--saturation-factor, 1)*22.5%), 27.8%);
    --brand-experiment-630: hsl(359, calc(var(--saturation-factor, 1)*22.5%), 25%);
    --brand-experiment-660: hsl(359, calc(var(--saturation-factor, 1)*22.5%), 22.3%);
    --brand-experiment-700: hsl(359, calc(var(--saturation-factor, 1)*22.5%), 19.5%);
    --brand-experiment-730: hsl(359, calc(var(--saturation-factor, 1)*22.5%), 16.8%);
    --brand-experiment-760: hsl(359, calc(var(--saturation-factor, 1)*22.5%), 14%);
    --brand-experiment-800: hsl(359, calc(var(--saturation-factor, 1)*22.5%), 11.3%);
    --brand-experiment-830: hsl(359, calc(var(--saturation-factor, 1)*22.5%), 8.5%);
    --brand-experiment-860: hsl(359, calc(var(--saturation-factor, 1)*22.5%), 5.8%);
    --brand-experiment-900: hsl(359, calc(var(--saturation-factor, 1)*22.5%), 3%);
    --brand-experiment-05a: hsla(359, calc(var(--saturation-factor, 1)*41%), 36%, 0.05);
    --brand-experiment-10a: hsla(359, calc(var(--saturation-factor, 1)*41%), 36%, 0.1);
    --brand-experiment-15a: hsla(359, calc(var(--saturation-factor, 1)*41%), 36%, 0.15);
    --brand-experiment-20a: hsla(359, calc(var(--saturation-factor, 1)*41%), 36%, 0.2);
    --brand-experiment-25a: hsla(359, calc(var(--saturation-factor, 1)*41%), 36%, 0.25);
    --brand-experiment-30a: hsla(359, calc(var(--saturation-factor, 1)*41%), 36%, 0.3);
    --brand-experiment-35a: hsla(359, calc(var(--saturation-factor, 1)*41%), 36%, 0.35);
    --brand-experiment-40a: hsla(359, calc(var(--saturation-factor, 1)*41%), 36%, 0.4);
    --brand-experiment-45a: hsla(359, calc(var(--saturation-factor, 1)*41%), 36%, 0.45);
    --brand-experiment-50a: hsla(359, calc(var(--saturation-factor, 1)*41%), 36%, 0.5);
    --brand-experiment-55a: hsla(359, calc(var(--saturation-factor, 1)*41%), 36%, 0.55);
    --brand-experiment-60a: hsla(359, calc(var(--saturation-factor, 1)*41%), 36%, 0.6);
    --brand-experiment-65a: hsla(359, calc(var(--saturation-factor, 1)*41%), 36%, 0.65);
    --brand-experiment-70a: hsla(359, calc(var(--saturation-factor, 1)*41%), 36%, 0.7);
    --brand-experiment-75a: hsla(359, calc(var(--saturation-factor, 1)*41%), 36%, 0.75);
    --brand-experiment-80a: hsla(359, calc(var(--saturation-factor, 1)*41%), 36%, 0.8);
    --brand-experiment-85a: hsla(359, calc(var(--saturation-factor, 1)*41%), 36%, 0.85);
    --brand-experiment-90a: hsla(359, calc(var(--saturation-factor, 1)*41%), 36%, 0.9);
    --brand-experiment-95a: hsla(359, calc(var(--saturation-factor, 1)*41%), 36%, 0.95);
    --rs-small-spacing: 2px;
    --rs-medium-spacing: 3px;
    --rs-large-spacing: 4px;
    --rs-small-width: 2px;
    --rs-medium-width: 3px;
    --rs-large-width: 4px;
    --rs-avatar-shape: 50%;
    --rs-online-color: #43b581;
    --rs-phone-color: #0099ff;
    --rs-idle-color: #faa61a;
    --rs-dnd-color: #f04747;
    --rs-offline-color: #636b75;
    --rs-streaming-color: #643da7;
    --rs-invisible-color: #747f8d;
    --rs-phone-visible: none;
    /* Visibility of the phone icon next to a users avatar. | block = visible | none = hidden */
    --badge-size: 22px;
    --badge-margin: 1.5px;
    --badges-everywhere-size: 15px;
    /*--settingsmodalbackground: rgba(0, 0, 0, 0);
    --settingsmodalwidth: 90vw;
    --settings-max-width: 75%;
    --settingsmodalheight: 90vh;
    --settings-max-height: 75%;*/
    --accent: 50, 131, 207;
    --message-padding: 10px;
    --message-spacing: 10px;
    --glass-menu-bg-blur: 25px;
}

/* Channel Tabs */
/*#channelTabs-container {
    --tabcontainer: radial-gradient(circle, rgba(34, 31, 29, 0.979) 30%, rgb(0, 0, 0) 70%);
    background: var(--tabcontainer) !important;
    border-color:rgba(0, 0, 0, 0.616);
    /* border-width: 3px !important; */
    /* padding: 0% !important;  
    border: 3px solid rgba(0, 0, 0, 0.795) !important;
    box-shadow: 0 0 2px 0 rgba(255, 255, 255, 0.829) !important;
}
.channelTabs-tab.channelTabs-selected {
    background: var(--blurple) !important;
    color: rgba(0, 0, 0, 0.562) !important;
}
.channelTabs-tab {
    border-radius: 20px !important;
}

.channelTabs-newTab:hover,
.channelTabs-tabNavLeft:hover,
.channelTabs-tabNavRight:hover {
    border-radius: 20px !important;
    color: #faa61a !important;
    border: 2px #faa61a !important;
}
.channelTabs-newTab:hover,
.channelTabs-tabNavLeft,
.channelTabs-tabNavRight {
    border-radius: 32px !important;
    color: #faa61a !important;
    border: 2px #faa61a !important; 
}
.channelTabs-tabName {
    font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 500;
}

.channelTabs-closeTab,
.channelTabs-tabNavClose,
#channelTabs-settingsMenu:hover {
    border-radius: 32px;
    background: transparent !important;
    color: #faa61a !important;
    border: 2px #faa61a !important;
}

.channelTabs-closeTab:hover {
    border-radius: 32px; 
    background: transparent !important;
    border: 2px solid #faa61a !important;
    color: transparent !important;
}

#channelTabs-settingsMenu {
    margin-right: 10px;
    margin-top: 2px;
    display: inside;
    align-items: center;
}

.channelTabs-settingsIcon {
    --interactive-normal: #faa61a !important;
    width: 20px;
} */
/* Coloured Folder Icons by CapnKitten (Gibbu#1211 edit)*/
/* If you wish to remove the Folder Icons; or if it breaks one of your plug-ins, remove everything under here: */
.closedFolderIconWrapper-3tRb2d {
    display: none !important;
}
.folderIconWrapper-1oRIZr:not([style=""])::before {
    position: fixed;
    content: "";
    width: 18px;
    height: 18px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: inherit;
    -webkit-mask: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/solid/folder.svg) no-repeat;
    mask: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/solid/folder.svg) no-repeat;
    transform: scale(1.6);
    filter: brightness(300) saturate(5);
}
/* The variables are used when the window is at the set sizes, each media query can be edited/deleted */
/*@media (max-width:700px) {
    :root {
        --topic-opacity: 0;
        --toolbar-visibility: none;
        --textarea-buttons-gif: none;
        --textarea-buttons-sticker: none;
    }
}

.contentWrapper-3vHNP2 {
    background-color: rgba(54, 54, 54, 0.808) !important;
    backdrop-filter: blur(10px) !important;
    border-radius: 16px !important;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5) !important;
}

@media (max-width:500px) {
    :root {
        --guildicon-size: 40;
        --float-members-width: 0;
    }
}


@media (max-width:300px) {
    :root {
        --guildlist-collapse: 1;
    }
}*/

.sidebarRegionScroller-FXiQOh {
    background-color: rgba(54, 54, 54, 0.534) !important;
    backdrop-filter: blur(10px) !important;
    border-radius: 2%, 2% !important;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5) !important;
}

.scroller-2MALzE {
    background-color: rgba(54, 54, 54, 0.534) !important;
    backdrop-filter: blur(10px) !important;
}

.scroller-18M1mG {
    background-color: rgba(54, 54, 54, 0.534) !important;
    backdrop-filter: blur(10px) !important;
}

/*.sidebarScrollable-2mW9Ls .scroller-3_YDR2 {
    border-radius: var(--radius);
    background: var(--blurple);
    padding-left: 2px;
}*/

.homeIcon-r0w4ny {
    background-position-x: center !important;
    background-position-y: center !important;
    background-size: 120% !important;
    background-image: var(--home-icon) !important;
    width: 100px !important;
    height: 100px !important;
    color: rgba(7, 0, 0, 0);
    background-color: trasparient !important;
    background-color: var(--blurple);
    box-sizing: border-box !important;
}

.favoriteIcon-2kWmTP {
    background-position-x: center !important;
    background-position-y: center !important;
    background-size: 100% !important;
    background-image: var(--favorites-icon) !important;
    width: 100px !important;
    height: 100px !important;
    color: rgba(7, 0, 0, 0);
    background-color: var(--blurple) !important;
    box-sizing: border-box !important;
}

/*.childWrapper-1j_1ub {
    -webkit-transition: background-color .15s ease-out, color .15s ease-out;
    transition: background-color .15s ease-out, color .15s ease-out;
    background-color: rgba(0, 0, 0, 0) !important;
    color: rgb(0, 0, 0) !important;
    box-sizing: border-box 100px !important;
}

.svg-2zuE5p {
    box-sizing: content-box;
    position: relative !important;
    top: 10;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    color: rgba(252, 252, 252, 0.425);
}

.messagesPopout-eVzQcI,
.messageGroupWrapper-1jf_7C {
    backdrop-filter: blur(50%) !important;
    background-image: url(https://i.imgur.com/o9Fs83z.jpg) !important;
    background-size: 400% !important;
    background-repeat: no-repeat !important;
}

.scroller-145h9c {
    backdrop-filter: blur(50%) !important;
    background-image: url(https://i.imgur.com/o9Fs83z.jpg) !important;
    background-size: 400% !important;
    background-repeat: no-repeat !important;
}*/
.platform-win .winButton-3UMjdg {
    border-radius: var(--radius);
    height: 32px !important;
}

/*:root .panels-3wFtMD,
.container-YkUktl,
.flex-2S1XBF {
    -webkit-box-orient: horizontal !important;;
    -webkit-box-direction: normal;
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(15%, var(--background-tertiary)));
    background: linear-gradient(transparent, var(--background-tertiary) 15%);
}
.popout-1KHNAq {
    -webkit-text-stroke-color: var(--blurple);
    -webkit-text-fill-color: aliceblue;
    -webkit-column-rule-color: red;
    -webkit-box-sizing: border-box;
    box-sizing: content-box;
    background-color: rgba(54, 54, 54, 0.616) !important;
    backdrop-filter: blur(5px) !important;
    box-shadow: 0 0 3px 0 rgba(245, 245, 245, 0.5) !important;
    border-radius: 0 0 4px 4px;
}
:root .panels-3wFtMD,
.container-YkUktl,
.flex-2S1XBF {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal;
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(15%, var(--background-tertiary)));
    background: transparent;
}*/
/*#channelTabs-container{padding:3px;border-color:#000000;border-width: 3px;}
.chat-2ZfjoI, .sidebar-1tnWFu{margin-top:var(--spacing);border-color: #000000;border-width: 3px;}
.wrapper-1_HaEi{margin-top:var(--spacing);border-color: #000000; border-width: 3px;}
.app-2CXKsg{background:var(--blurple);border-color: #000000; border-width: 3px;}
#channelTabs-container{
    border-radius:20px !important;
    border-color:rgb(0, 0, 0);
    margin-bottom:calc(var(--spacing) 3px);
    padding:0px!important;
}*/


/* colour coded channels */

div {
	--ch-text: #f849605b;
	--ch-text-limited: #f849605b;
	--ch-text-threads: #f849605b;
	--ch-text-nsfw: #f849605b;
	--ch-announcements: #9900ff60;
	--ch-announcements-limited: #9900ff60;
	--ch-rules: #9900ff60;
	--ch-voice: #0000006c;
	--ch-voice-limited: #0000006c;
	--ch-voice-locked: #0000006c;
	--ch-forum: #f849605b;
	--ch-forum-limited: #f849605b;
	--ch-stage: #0000006c;
	--ch-unread: #ff6b7ec7;
	--ch-unread-forum: rgb(92, 80, 255);
	--ch-pinged: rgb(255, 0, 0);
}



.mainContent-20q_Hp [aria-label="Announcements"],
.channelName-2TeYVY [aria-label="Announcements"],
.nowrap-PdqN8z [aria-label="Announcements"] 
{ background-color: var(--ch-announcements); }

.mainContent-20q_Hp [aria-label="Announcements (Limited)"],
.channelName-2TeYVY [aria-label="Announcements (Limited)"],
.nowrap-PdqN8z [aria-label="Announcements (Limited)"]
{ background-color: var(--ch-announcements-limited); }

.mainContent-20q_Hp [aria-label="Text"],
.channelName-2TeYVY [aria-label="Text"],
.nowrap-PdqN8z [aria-label="Channel"]
{ background-color: var(--ch-text) }

.mainContent-20q_Hp [aria-label="Text (Limited)"],
.channelName-2TeYVY [aria-label="Text (Limited)"],
.nowrap-PdqN8z [aria-label="Text (Limited)"]
{ background-color: var(--ch-text-limited) }

.mainContent-20q_Hp [aria-label="Text (Active Threads)"],
.channelName-2TeYVY [aria-label="Text (Active Threads)"],
.nowrap-PdqN8z [aria-label="Text (Active Threads)"]
{ background-color: var(--ch-text-threads) }

.mainContent-20q_Hp [aria-label="Text (Age-Restricted)"],
.channelName-2TeYVY [aria-label="Text (Age-Restricted)"],
.nowrap-PdqN8z [aria-label="Text (Age-Restricted)"]
{ background-color: var(--ch-text-nsfw); }

.mainContent-20q_Hp [aria-label="Voice"],
.channelName-2TeYVY [aria-label="Voice"],
.nowrap-PdqN8z [aria-label="Voice"]
{ background-color: var(--ch-voice); }

.mainContent-20q_Hp [aria-label="Voice (Limited)"],
.channelName-2TeYVY [aria-label="Voice (Limited)"],
.nowrap-PdqN8z [aria-label="Voice (Limited)"]
{ background-color: var(--ch-voice-limited); }

.mainContent-20q_Hp [aria-label="Rules"],
.channelName-2TeYVY [aria-label="Rules"],
.nowrap-PdqN8z [aria-label="Rules"]
{ background-color: var(--ch-rules); }

.mainContent-20q_Hp [aria-label="Forum"],
.channelName-2TeYVY [aria-label="Forum"],
.nowrap-PdqN8z [aria-label="Forum"]
{ background-color: var(--ch-forum); }

.mainContent-20q_Hp [aria-label="Forum (Limited)"],
.channelName-2TeYVY [aria-label="Forum (Limited)"],
.nowrap-PdqN8z [aria-label="Forum (Limited)"]
{ background-color: var(--ch-forum-limited); }

.mainContent-20q_Hp [aria-label="Stage"],
.channelName-2TeYVY [aria-label="Stage"],
.nowrap-PdqN8z [aria-label="Stage"]
{ background-color: var(--ch-stage); }

.nowrap-PdqN8z [aria-label="No Access"]
{ background-color: var(--ch-voice-locked); }


.icon-3akWb2 { background-color: var(--ch-voice); }
.mainContent-20q_Hp [aria-label="Voice (Locked)"] { background-color:  var(--ch-voice-locked); }

.unread-36eUEm {
	background-color: var(--ch-unread);
	width: 6px;
	height: 32px;
	top: 0;
	margin: 0px;
	position: absolute;
	left: 9px;
	border-radius: 0;
	z-index: -1;
}
.containerDefault-YUSmu3:has(.unread-36eUEm) + .containerDefault-YUSmu3 .unread-36eUEm {
	height: 35px;
	top: -4px;
}
.children-1MGS9G:has(.text-xs-semibold-GgBYxI) .channelInfo-3jN1ay {
	background-color: var(--ch-unread-forum);
	height: 32px;
	width: 2px;
	margin-left: -498px;
	top: 0;
	position: absolute;
}
.children-1MGS9G {
	pointer-events: none;
	transition: none !important;
}
.text-xs-semibold-GgBYxI { display: none; }

.mainContent-20q_Hp {
	padding-left: 5px;
}
.mentionsBadge-3H1BKJ {
	left: 0px;
	margin-top: -10px;
	position: absolute;
}
.mentionsBadge-3H1BKJ .numberBadge-37OJ3S {
	width: 10px !important;
	height: 35px !important;
	padding: 0 !important;
	min-width: unset;
	min-height: unset;
	font-weight: unset;
	border-radius: unset;
	background-color: var(--ch-pinged) !important;
	margin-top: -9px !important;
	white-space: break-word !important;
}




/* thread part */

.spineBorder-1-F4s1 {
	margin-top: -18px;
	margin-left: -12px;
	width: 3px;
}

.spine-29OFwR {
	margin-left: -9px;
	transform: scale(1.5);
	z-index: 1;
}
.spine-29OFwR[style^="trans"/*positivity*/] {
	transform: scale(1.5) rotateX(180deg) translateY(-9px) !important;
}

.containerDefault-YUSmu3:has(.iconContainer-21RCa3[aria-label="Text (Active Threads)"]) + .container-1Bj0eq .spineBorder-1-F4s1 { background-color: var(--ch-text-threads); }
.containerDefault-YUSmu3:has(.iconContainer-21RCa3[aria-label="Text (Active Threads)"]) + .container-1Bj0eq .spine-29OFwR { color: var(--ch-text-limited); }
.containerDefault-YUSmu3:has(.iconContainer-21RCa3[aria-label="Text (Age-Restricted)"]) + .container-1Bj0eq .spineBorder-1-F4s1 { background-color: var(--ch-text-nsfw); }
.containerDefault-YUSmu3:has(.iconContainer-21RCa3[aria-label="Text (Age-Restricted)"]) + .container-1Bj0eq .spine-29OFwR { color: var(--ch-text-nsfw); }
.containerDefault-YUSmu3:has(.iconContainer-21RCa3[aria-label="Rules"]) + .container-1Bj0eq .spineBorder-1-F4s1 { background-color: var(--ch-rules); }
.containerDefault-YUSmu3:has(.iconContainer-21RCa3[aria-label="Rules"]) + .container-1Bj0eq .spine-29OFwR { color: var(--ch-rules); }
.containerDefault-YUSmu3:has(.iconContainer-21RCa3[aria-label="Announcements (Limited)"]) + .container-1Bj0eq .spineBorder-1-F4s1 { background-color: var(--ch-announcements-limited); }
.containerDefault-YUSmu3:has(.iconContainer-21RCa3[aria-label="Announcements (Limited)"]) + .container-1Bj0eq .spine-29OFwR { color: var(--ch-announcements-limited); }
.containerDefault-YUSmu3:has(.iconContainer-21RCa3[aria-label="Announcements"]) + .container-1Bj0eq .spineBorder-1-F4s1 { background-color: var(--ch-announcements); }
.containerDefault-YUSmu3:has(.iconContainer-21RCa3[aria-label="Announcements"]) + .container-1Bj0eq .spine-29OFwR { color: var(--ch-announcements); }
.containerDefault-YUSmu3:has(.iconContainer-21RCa3[aria-label="Forum (Limited)"]) + .container-1Bj0eq .spineBorder-1-F4s1 { background-color: var(--ch-forum); }
.containerDefault-YUSmu3:has(.iconContainer-21RCa3[aria-label="Forum (Limited)"]) + .container-1Bj0eq .spine-29OFwR { color: var(--ch-forum); }
.containerDefault-YUSmu3:has(.iconContainer-21RCa3[aria-label="Forum"]) + .container-1Bj0eq .spineBorder-1-F4s1 { background-color: var(--ch-forum-limited); }
.containerDefault-YUSmu3:has(.iconContainer-21RCa3[aria-label="Forum"]) + .container-1Bj0eq .spine-29OFwR { color: var(--ch-forum-limited); }

/* end of thread part, jeez this lowkey took forever to figure out */

.iconContainer-21RCa3,
.icon-3akWb2,
.icon-2Ph-Lv {
	width: 5px;
	margin-left: -5px;
	margin-top: 0px;
	height: 30px !important;
	position: absolute;
}
.iconContainer-21RCa3 {
	height: 45px !important;
	margin-left: -10px;
}
.container-1Bj0eq:has(.spine-29OFwR:not([style^="trans"/*positivity*/])) + .containerDefault-YUSmu3 .iconContainer-21RCa3 {
	height: 70px !important;
}
.container-1Bj0eq:has(.spine-29OFwR:not([style^="trans"/*positivity*/])) + .containerDefault-YUSmu3 .content-1gYQeQ {
	overflow: visible;
}
.container-1Bj0eq:has(.spine-29OFwR:not([style^="trans"/*positivity*/])) + .containerDefault-YUSmu3 .content-1gYQeQ:hover {
  transform: scaleY(1);
}


.wrapper-NhbLHG {
	padding: 0;
}

.icon-3akWb2,
.icon-2Ph-Lv {
	fill-opacity: 0%;
}

svg.icon-2W8DHg,
.arrow-2HswgU.icon-3zI3d2 {
	visibility: hidden;
}

.mainContent-uDGa6R[aria-expanded="false"] .overflow-1wOqNV {opacity: 50%; }
.mainContent-uDGa6R .overflow-1wOqNV {
	left: 9px;
	bottom: 4px;
	position: absolute;
}

.content-1gYQeQ {
	border-radius: 0px;
}
/*Changes the staff tag background color and also font color - Use with MoreUserTags*/
/*xq37*/

span[data-tag="owner"] {
  background-color: #f09f19; /* gold */
  color: black;
}

span[data-tag="admin"] {
  background-color: #c0c0c0; /* silver */
  color: black;
}

span[data-tag="staff"] {
  background-color: #88540b; /* brown */
  color: white;
}

span[data-tag="mod"] {
  background-color: #6e7279; /* grey */
  color: white;
}

span[data-tag="vc mod"] {
  background-color: #0b6623; /* green */
  color: white;
}

.ownerIcon-255uKo {
  display: none;
}

.section-28YDOf:has(.note-1NN2aP) {
    display: none;
    padding-bottom: 23px;
}
[class*=memberSinceContainer-] {
    margin-bottom: 14px;
}
/* ----- Aligned Chatbox ----- */
/* align edges of chatbox to sides */
:is(main,section)[class^=chatContent] > form { padding: 0px;  }

/* align chatbox to bottom */
:is(main,section)[class^=chatContent] > form > *:first-child { margin-bottom: 0px; }

/* center chatbox contents, no border radius */
:is(main,section)[class^=chatContent] > form > *:first-child > * {
  padding-top: 4px;
  min-height: 49px;
  border-radius: 0px;
}

/* slowmode/typing indicator */
:is(main,section)[class^=chatContent] > form > *:last-child[class^=typing] {
  top: -24px;
  right: 0px;
  margin-left: auto;
  width: fit-content;
  padding-left: 2px;
  padding-right: 9px;
  border-top-left-radius: 8px;
  background-color: var(--channeltextarea-background);
}

/* jump to presz */
[class^=jumpToPresentBar] {
  left: 0;
  border-radius: 0px;
  border-top-right-radius: 8px;
  opacity: 1;
  background-color: var(--channeltextarea-background);
  right: unset;
}
[class^=jumpToPresentBar] > [class^=barButtonMain] {
  flex: 0 0 auto;
  display: none;
}

/* You can change around the settings for the delay and stuff */

.panels-3wFtMD > .container-YkUktl .flex-2S1XBF > :not(:last-child) {
    opacity: 0% !important;
    width: 0px;
    transition: all 0.2s ease-in-out;
}

.panels-3wFtMD > .container-YkUktl:hover .flex-2S1XBF > :not(:last-child) {
    opacity: 100% !important;
    width: 32px;
}

/* Match bottom and left borders on user profile container with their status - Border change by DeadVoxels, colour vars left over from Jaegerwald#4833's attempt to help me with this. Thanks a ton for getting me into advanced selectors so I could make this though, Jaeger! */
:root {
    --online-color: #23a559;
    --idle-color: #f0b132;
    --dnd-color: #f23f42;
    --offline-color: #80848e;
}
.container-YkUktl:has(.avatar-1EWyVD[aria-label*="Online"]) {
    border-bottom: 3px solid var(--online-color)!important;
}
.container-YkUktl:has(.avatar-1EWyVD[aria-label*="Idle"]) {
    border-bottom: 3px solid var(--idle-color)!important;
}
.container-YkUktl:has(.avatar-1EWyVD[aria-label*="Do Not Disturb"]) {
    border-bottom: 3px solid var(--dnd-color)!important;
}
.container-YkUktl:has(.avatar-1EWyVD[aria-label*="Invisible"]) {
    border-bottom: 3px solid var(--offline-color)!important;
}
/* Darken pfp, name, and status text when in invis because why not */
.container-YkUktl:has(.avatar-1EWyVD[aria-label*="Invisible"]) .avatar-1EWyVD > svg > foreignObject, .container-YkUktl:has(.avatar-1EWyVD[aria-label*="Invisible"]) .title-338goq, .container-YkUktl:has(.avatar-1EWyVD[aria-label*="Invisible"]) .subtext-2HDqJ7 {
    filter: brightness(0.5);
}
.avatar-1EWyVD > svg > foreignObject, .title-338goq, .subtext-2HDqJ7, .container-YkUktl {
    transition: all 100ms ease-in;
}
.sourceContainer-1uqUbz {
    flex-direction: column;
}
.sourceName-3Wf8QG {
    width: unset;
}
.tile-3POX2m > .flex-2S1XBF {
    flex-direction: row;
    justify-content: start;
}
.tile-3POX2m > .flex-2S1XBF > .flex-2S1XBF {
    flex: unset !important;
    margin-right: 16px;
}
.withFrame-2dL45i {
   height: 20px;
}
.typeWindows-2-g3UY .winButton-3UMjdg > svg {
    display: none;
}
.typeWindows-2-g3UY .winButton-3UMjdg {
    top: 0;
    width: 12px;
    height: 12px;
    margin: 2px 12px 0px 0px;
    border-radius: 12px;
}
.typeWindows-2-g3UY .winButton-3UMjdg::after {
    content: '';
    height: 12px;
    width: 12px;
    border-radius: 12px;
}
.typeWindows-2-g3UY .winButtonClose-3Q8ZH5::after {
    background-color: hsl(0, 50%, 50%) !important;
}
.typeWindows-2-g3UY .winButtonMinMax-3RsPUg:nth-child(3)::after {
    background-color: hsl(120, 50%, 50%) !important;
}
.typeWindows-2-g3UY .winButtonMinMax-3RsPUg:nth-child(4)::after {
    background-color: hsl(50, 50%, 50%) !important;
}
.typeWindows-2-g3UY > div:hover::after {
    transform: scale(1.1);
}
.typeWindows-2-g3UY > div:active::after {
    transform: scale(1);
}
[id^="message-accessories-"] {
    display: flex;
    column-gap: 2rem;
    flex-wrap: wrap;
}
[id^="message-accessories-"] > [role="group"] {
    flex-basis: 100%;
}

